@import "tailwindcss";

@theme {
  --font-sans: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif;
}


/* Reduce heading font weight and increase line height */
h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}
